main.accueil{
	padding: 50px;
	h2{
		//font-family: 'Walkway Bold';
		text-align: center;
		text-transform: uppercase;
		color:$color-orange;
		background-color: $black;
		padding: 5px 0;
		margin:20px;
	}
	.slider{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin:20px;
		.article{
			position: relative;
			img{
				max-width: 200px;
			}
			.hoverIcons{
				display: none;
				position: absolute;
				top:50%;
				right: 38%;
				//background-color: rgba(0,0,0,.5);
				font-size: $font-size--M;
				a:hover{
					text-decoration: none;
				}
			}
			&:hover .hoverIcons{
				display: block;
			}
			&.musique{
				&:hover .hoverIcons{
					//width:200px;
					//height: 200px;
				}
			}
			&.film{
				&:hover .hoverIcons{
					//width:200px;
					//height: 300px;
				}
			}
		}
		.icon-Fleche_droite,.icon-Fleche_gauche{
			font-size: $font-size--L;
		}
	}
	.sliderButton{
		display: flex;
		justify-content: center;
		a{
			display: block;
			width: 15px;
			height: 15px;
			background-color: $color-orange;
			border-radius: 10px;
			border: 2px solid $color-orange;
			margin:5px;
			&:active{
				background-color:red;
			}
		}
	}
}