main.panier{
	table{
		thead{
			color: $color-orange;
		}
		tr{
			border:1px solid $black;
			td,th{
				padding: 1em 0;
				&.nom{
					padding-left: 2em;
				}
				&.type,&.prix{
					text-align: center;
				}
				&.supprimer{
					text-align: right;
					padding: 0.5em 1.5em 0.5em 0;
				}
			}
			th.supprimer{
				padding: 1em 2em 1em 0;
			}
			&.total th{
				color: $color-orange;
				text-align: center;
			}
		}
	}
	.button{
		display: flex;
		align-items: center;
		background-color:$color-blue;
		//border:2px solid $color-blue;
		color: $white;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		margin-top: 4em;
		padding:1em;
		&:hover{
			background-color: $white;
			color:$color-blue;
			text-decoration: none;
		}
		span.icon{
			margin-right: .2em;
		}
	}
}