.section-details{
    .details{
        margin-bottom: 50px;
        &-contain{
            ul{
                list-style: none;
            }
            li{
                font-family: $font-family--secondary;
                font-size: $font-size--L;
                span{
                    color: $color-orange;
                }
            }
        }
        .icon{
            margin-right: $margin-height--regular;
            font-size: $font-size--L ;
        }
        .bold{
            font-weight: $font-weight--bold;
        }
    }
    .price-contain{
        position: relative;
        .price{
            color: inherit;
            font-size: $font-size--M;
            position: absolute;
            top: 8px;
        }
    }
    
    .video-js{
        margin: auto;
        .vjs-big-play-button{
            top: 48%;
            left: 47%;
        }
    }
    .table{
        th{
            color: $color-orange;
            font-family: $font-family--secondary;
            font-size: $font-size--L;
        }
        td{
            font-family: $font-family--secondary ;
            font-size: $font-size--L;
            vertical-align: middle;
        }
        .icon{
            padding-left: 25%;
        }
    }
}
