main.connexion, main.contact{
	form{
		input[type=text], textarea{
			width: 100%;
		}
		a{
			float: right;
			color: $color-orange;
			font-weight: 700;
			//color: black;
		}
		input[type=submit]{
			display: block;
			clear: both;
			margin:0 auto;
		}
		div{
			font-weight: 700;
		}
	}
}