main.connexion, main.contact, main.espace_perso{
	form{
		input[type=text]{
			width: 100%;
			margin-bottom: 2em;
			height: 2.2em;
		}
		textarea{
			width: 100%;
			margin-bottom: 2em;
		}
		a{
			float: right;
			color: $color-orange;
			font-weight: 700;
			//color: black;
			&.button{
				float: none;
				display: block;
				clear: both;
				margin:0 auto 1.5em;
				background-color: transparent;
				border: none;
				font-size: $font-size--M;
				text-align: center;
				&:hover{
					text-decoration: none;
				}
			}
		}
		input[type=submit]{
			display: block;
			clear: both;
			margin:0 auto 1.5em;
		}
		button{
			display: block;
			clear: both;
			margin:0 auto 1.5em;
			background-color: transparent;
			border: none;
			font-size: $font-size--M;
		}
		div{
			font-weight: 700;
			margin: .5em 0 2em 0;
		}
		.oubliMdP{
			margin-top: -1.5em;
			margin-bottom: 1.5em;
		}
	}
}