body{
    @include font-face(Walkway, "./fonts/Walkway/Walkway_Black");
    @include font-face(LibreFranklin, "./fonts/LibreFranklin/librefranklin_black");
    font-family: $font-family--text;
    //background-color: green !important;
}

h1, h2, h3{
    font-family: $font-family--title;
}

h1{
    background-color:$black;
    color: $color-orange;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size--M;
    padding: 5px 0;
    margin:1.5em 0;
    @media (min-width: 576px) {
        font-size: $font-size--L;
    }
}
h2{
    font-size: $font-size--L;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0px;
}
h3{
    font-size: $font-size--M;
}
#bread{
    font-size: $font-size--M;
    width: 50%;
    margin: 0 auto;
    ol{
        background-color: $color-marron;
        border-radius: 0px;
        .breadcrumb-item{
            font-size: $font-size--S;
            &:before{
                color: $black;
                font-weight: 800;
            }
            a{
                color: $black;
                font-weight: 800;
            }
        }
    }
    .breadcrumb-item.active {
        color: $color-blue;
        font-weight: 800;
    }
}
.marg-LR{
    margin-left: 0px;
    margin-right: 0px;
}
