footer{
    background-color: $black;
    color: $white;
    padding: 25px 0px 10px 18px;
    margin-top: $margin-height--xx-large/2;
    a{
        text-decoration: none;
        color: $white;
        font-size: $font-size--S;
        font-weight: $font-weight--bold;
    }
    li{
        list-style: none;
    }
    .col-small{
        &--item-title{
            a{
                font-size: $font-size--S;
                font-weight: $font-weight--ultra-bold;
            }
        }
    }
    .col-center{
        text-align: center;
        font-weight: $font-weight--bold ;
        &__row-top{
            margin-top: ($margin-height--xx-large/4) ;
            a{
                margin-left: ($margin-height--xxx-large/2);
            }
        }
        &__row-middle{
            margin-top: $margin-height--regular/2 ;
            ul{
                margin: auto;
                text-align: center;
            }
        }
        &__row-bottom{
            margin-top: $margin-height--regular/2 ;
            &--item{
                margin: auto;
                font-size: $font-size--S ;
            }
        }
    }
    .col-right{
        &__row-top{
            margin-top: $margin-height--xx-large/2 ;
            padding-left: $padding-height--xx-large/2;
        }
        &__row-bottom{
            margin-top: ($margin-height--xx-large/4) ;
        }
    }
}


// =============================================================================
// Icones
// =============================================================================

.icon{
    font-size: $font-size--L;
    &-Facebook {
        &.path1:before {
          content: "\e92e";
          color: $black;
        }
        &.path2:before {
          content: "\e92f";
          color: $white;
          margin-left: -1em;
        }
    }
    &-Instagram {
        &.path1:before {
          content: "\e932";
          color: $white;
        }
        &.path2:before {
          content: "\e933";
          color: $black;
          margin-left: -1em;
        }
        &.path3:before {
          content: "\e934";
          color: $black;
          margin-left: -1em;
        }
        &.path4:before {
          content: "\e935";
          color: $black;
          margin-left: -1em;
        }
        &.path5:before {
          content: "\e936";
          color: $black;
          margin-left: -1em;
        }
    }
    &-Twitter {
        .path1:before {
          content: "\e930";
          color: $black;
        }
        &.path2:before {
          content: "\e931";
          color: $white;
          margin-left: -1em;
        }
    }

}
