body{
    width: 100%;
}
header {
    form{
        width: 100%;
    }
    .input{
        font-size: $font-size--M;
        font-weight: $font-weight--regular;
        border: 2px solid $black;
        height: $line-height--M;
        width: 100%;
        &::placeholder{
            padding-left: $padding-height--regular   ;
        }
    }
    .logo{
        margin: 34px;
    }
    .login{
        font-family: $font-family--title;
        font-size: $font-size--L;
        .icon-User{
            .path1:before {
              content: "\e91f";
              color: #e62d2e;
              font-size: $font-size--L;
            }
            .path2:before {
              content: "\e920";
              color: #fff;
              margin-left: -1em;
              font-size: $font-size--L;
            }
        }
        a{
            color: $black;
            text-decoration: none;
            font-weight: $font-weight--bold;
            &:hover{
                text-decoration: none;
            }
        }
    }
}


.icon-Search{
    position: absolute;
    left: 775px;
    top: -1px;
    .path1:before {
      content: "\e91d";
      color: #000;
      font-size: $font-size--L;
    }
    .path2:before {
      content: "\e91e";
      color: #fff;
      margin-left: -1em;
      font-size: $font-size--L;
    }
}
.icon-menu:before {
  content: "\e9bd";
  font-size: $font-size--L*2;
}
// =============================================================================
// Navigation
// =============================================================================


.nav {
    font-family: $font-family--title;
    height: $line-height--L ;
    margin-bottom: 190px;
    line-height: $line-height--L;
    &__col{
        font-size: $font-size--L ;
        font-weight: $font-weight--x-regular ;
        text-align: center;
        background-color: #f3924c;
        &:hover{
            background-color: $color-blue;
            .nav__col__child{
                display: block;
            }
        }
        &--item{
            height: $line-height--L;
            margin: auto;
            text-align: center;
        }
        a{
            color: $black;
            text-decoration: none;
            &:hover{
                color: $black;
                text-decoration: none;
            }
        }
        &__child{
            display: none;
            hr{
                width: ($line-height--L);
                border-top: 4px solid $color-marron;
                margin-top: -4px;
                margin-bottom: 0px;
            }
            &--item{
                margin: auto;
                text-align: center;
                height: 40px;
                line-height: 40px;
                background-color: $black;
                a{
                    color: $color-marron;
                    text-decoration: none;
                }
                &:hover{
                    background-color: $color-marron;
                    a{
                        color: $black;
                    }
                }

            }
        }
    }
}
.navbar-toggler{
    background-color: $black;
}

// =============================================================================
// Media Queries
// =============================================================================

@media screen and (min-width: 100px) and (max-width: 1026px) {
    body{
        margin-top: 218px;
    }
    #h-input-search--desktop, #h-logo--desktop, #navbar-header, #h-login--desktop{
        display: none;
    }
    #h-mobile{
        position: fixed;
        z-index: 2;
        height: 218px;
        top: 0;
        clear: both;
    }
    #navbar-header{
        height: auto;
        position: fixed;
        z-index: 2;
        width: 100%;
        top: 218px;
        .col-md-3{
            width: 100%;
            max-width: 100% !important;
        }
    }
    ul.row{
        margin-right: 0px;
        margin-left: 0px;
    }

    .logo{
        width: 150px;
        height: auto;
    }
    #h-input-search--mobile{
        .icon-Search{
            position: absolute;
            top: -$margin-height--small;
            left: 440px;
            .path1:before {
              content: "\e91d";
              color: #000;
              font-size: 80px;
            }
            .path2:before {
              content: "\e91e";
              color: #fff;
              margin-left: -1em;
              font-size: 80px;
            }
        }
        .input--mobile{
            width: 100%;
            display: block;
            font-size: $font-size--L;
            font-weight: $font-weight--x-regular;
            border: 2px solid $black;
            height: $line-height--L;
            &::placeholder{
                padding-left: $padding-height--regular   ;
            }
        }
    }
}

@media screen and (min-width: 1027px) {
    #h-logo--mobile, #h-input-search--mobile, #icon-menu, #h-menu--mobile,#h-login--mobile{
        display: none;
    }
}
