.icon-Addtocart .path1:before {
  content: "\e916";
  color: #1f1b1a;
}
.icon-Addtocart .path2:before {
  content: "\e917";
  color: #f3a700;
  margin-left: -1em;
}
.icon-Addtocart .path3:before {
  content: "\e918";
  color: #1f1b1a;
  margin-left: -1em;
}
.icon-Details .path1:before {
  content: "\e91b";
  color: #1f1b1a;
}
.icon-Details .path2:before {
  content: "\e91c";
  color: #f3a700;
  margin-left: -1em;
}
